#resultSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#resultSection h2 {
  counter-reset: cards;
  width: 100%;
}

#movieInfo {
  display: flex;
  flex-flow: column;
  justify-content: start;
  text-align: left;
  max-width: 100px;
}

#movieInfo h3 {
  background-color: #000;
  border-radius: 15px 0 0 0;
  color: #fff;
  margin: 0;
  padding: 1.5rem .5rem;
}


.movieCard {
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 8px 8px 15px 1px #000000;
  counter-increment: cards;
  display: flex;
  grid-template-columns: 250px 50%;
  grid-template-rows: 25%;
  margin: 2rem;
  text-align: center;
}

.movieCard:hover h3 {
  background-color: #333;
}

.movieCard h3::before {
  content: counter(cards)". ";
}

.movieCard img {
  align-self: space-between;
  grid-column: 2/-1;
  grid-row: 1/2;
  flex: 4;
  height: auto;
  max-width: 250px;
}
