#resultSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#resultSection h2 {
  width: 100%;
}

.movieCard {
  background-color: #eee;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 300px;
  padding: .5rem;
}
